.ant-modal-footer .ant-btn-primary {
    background: #2962ff;
}

.ant-modal-footer .ant-btn-primary:hover {
    background: #2962ff !important;
    opacity: .8;
}

.ant-modal-footer .ant-btn-default:hover {
    border-color: #2962ff !important;
    color: #2962ff !important;
}