/* 
#17b1b9 blue
#fa4f71 pink
#203c61 dark blue
#ff9d1e yellow
#ddd7d9 grey */


@font-face {
    font-family: Josefin;
    src: url('../../assest/fonts/Josefin_Sans/static/JosefinSans-Light.ttf');
}

.Container {
    width: 50%;
    height: 75vh;
    background-image: url(../../assest/images/todo-list-seamless-pattern-universal-background-vector-7561340.jpg);
    padding: 10px;
    border: 3px solid #ddd;
    border-radius: 10px;
}
.spanplus{
    color: #000;
    font-size: 40px;
    font-weight: 900;
}
.heading {
    color: #2962ff;
    text-align: center;
    font-size: 35px;
    letter-spacing: 2px;
    font-family: Josefin;
    margin: 10px 0 20px 0;
}


@media screen and (max-width:1024px) {
    .Container {
        width: 90%;
    }
}

@media screen and (max-width:768px) {
    .List ol {
        height: 45vh !important;
    }
}

@media screen and (max-width:600px) {
    .Container {
        width: 100%;
    }

    .List ol li {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .List ol li span:nth-child(2) {
        width: 100%;
    }

    .List ol li span button {
        width: 49.5%;
    }
}